* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
textarea {
  border: none;
  resize: none;
}
textarea,
input {
  -moz-appearance: none;
  outline: 0px none transparent;
  border: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("../fonts/Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("../fonts/Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff"),
    url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  scrollbar-width: 10px;
  overflow-y: scroll;
  scrollbar-color: #c9a992 #ffffff;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgb(34 60 80 / 20%) inset;
  background-color: #ffffff;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bb596b49),
    to(#c9a99264)
  );
  background: linear-gradient(180deg, #bb596b49, #c9a99264);
}
.page {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #667281;
}

.container {
  width: 1312px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 49.9%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 90px;
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #d7a785;
  box-shadow: 0px 8px 20px rgba(165, 117, 83, 0.35);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #f8f4f1;
  transition: all 1s;
  cursor: pointer;
}
.btn_section:hover {
  background: #f8f4f1;
  color: #d7a785;
}
.btn_section:active {
  background: #d7a785;
  color: #f8f4f1;
}
.btn__slider {
  cursor: pointer;
}
/*header*/
.header {
  padding: 27px 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__mob-menu {
  position: absolute;
  top: 0;
}
.btn__m-menu {
  display: none;
}
.menu__list,
.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.submenu {
  flex-direction: column;
  position: absolute;
  display: none;
}
.link,
.submenu-list__link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #2a3645;
}
ul li.links__item.open_sub-menu ul,
ul li ul.submenu.open_sub-menu {
  position: absolute;
  top: auto;
  display: block;
  width: 150px;
  height: 0px;
  border-bottom: 1px solid #dda67e;
}

.links__item {
  padding: 0 24px 0 0;
}

.links__item:nth-child(3) .menu-list__link::after {
  content: " ";
  border: 9px solid transparent;
  margin-left: 7px;
  border-right: 10px solid #2a3645;
  border-left: none;
  transform: rotate(271deg);
  position: absolute;
  top: 5px;
}
.links__item:hover.links__item:nth-child(3) .menu-list__link::after {
  content: "";
  border: 9px solid transparent;
  margin-left: 7px;
  border-right: 10px solid #dda67e;
  border-left: none;
  transform: rotate(271deg);
  position: absolute;
  top: 5px;
}
.links__item:nth-child(4) {
  padding-left: 24px;
}
.link:hover,
.link__block-lists:hover,
.link.theme_color:hover,
.content_box-i-help:hover .link_post_interest,
.open-player:hover span.pseudo_link,
.contacts .block-lists .item__block-lists:hover .link-contacts-me,
.item_footer-menu:hover,
.item_block-polycy:hover {
  color: #dda67e;
}
.menu-link__active {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #dda67e;
}
.img.icons_item {
  width: 36px;
  height: 26.69px;
  margin-left: 18px;
}
.img.icons_item:hover path,
.close__poup-consult:hover path {
  fill: #dda67e;
}
.title_section {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: #2a3645;
}
.description_section {
  margin-top: 16px;
}
/*mainscreen*/
.mainscreen {
  background: linear-gradient(
      90.15deg,
      #ffffff -1.01%,
      rgba(255, 255, 255, 0.8) 24.96%,
      rgba(255, 255, 255, 0.7) 42.84%,
      rgba(255, 255, 255, 0) 54.05%
    ),
    url(../../assets/img/main_index_bg.jpg), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.unconscious.mainscreen {
  background: linear-gradient(
      to bottom,
      rgba(239, 239, 234, 0) 41.18%,
      #f0efea 98.82%
    ),
    url(../../assets/img/main_index_bg_2.jpg), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.center.mainscreen {
  background: linear-gradient(
      to bottom,
      rgba(248, 244, 241, 0) 80%,
      #f8f4f1 95.57%
    ),
    url(../../assets/img/main_index_bg_center.jpg), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content__mainscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 164px 0 170px 0;
}
.center .content__mainscreen {
  padding: 104px 0 184px 0;
}
.unconscious .content__mainscreen {
  padding: 144px 0 323px 0;
}
.title__mainscreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 35px;
  font-weight: 500;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.02em;
  color: #2a3645;
}
.unconscious .title__mainscreen,
.center .title__mainscreen {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.description__mainscreen {
  width: 65%;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 54px;
}
.unconscious .description__mainscreen,
.center .description__mainscreen {
  width: 45%;
}
.center .description__mainscreen {
  padding-bottom: 16px;
}
.button__mainscreen {
  width: 30%;
  padding: 36px 46px;
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #d7a785;
  box-shadow: 0px 8px 20px rgba(165, 117, 83, 0.35);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f8f4f1;
  transition: all 1s;
  cursor: pointer;
}
.button__mainscreen:hover {
  background: #f8f4f1;
  color: #d7a785;
}
.button__mainscreen:active {
  background: #d7a785;
  color: #f8f4f1;
}
/*myHistory*/
.myHistory {
  background: url(../../assets/img/main_index__history_bg.jpg), no-repeat;
  background-size: cover;
  background-position: center center;
}
.unconscious.myHistory {
  transform: scaleX(-1);
  filter: FlipH;
}
.unconscious .content-box {
  transform: scaleX(-1);
  filter: FlipH;
}
.unconscious .block-lists {
  margin-top: 34px;
}
.unconscious .item__block-lists {
  align-items: center;

  padding-right: 105px;
}
.myHistory.unconscious .item__block-lists::before {
  content: none;
}
.conteiner__date_prewie {
  margin-top: 8px;
}
.conteiner-slider-prewie.swiper {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  padding: 21% 0;
}
.row.conteiner-btn__slider {
  margin-top: 36px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.btn__right__slider__prewie svg,
.btn__right__slider__interest svg,
.btn__right__slider__pagination svg {
  rotate: 180deg;
}
.cont-btn__slider__prewie .btn__slider:hover {
  width: auto;
  height: 64px;
  box-shadow: 0px 8px 20px rgb(165 117 83 / 35%);
  border-radius: 50px;
}
.cont-btn__slider__prewie .btn__slider:hover svg rect {
  fill: #d7a785;
  fill-opacity: 1;
}
.cont-btn__slider__prewie .btn__slider:hover svg path {
  fill: #f8f4f1;
}
/*what_gives*/
.what_gives {
  padding: 84px 00 68px;
}
.center.what_gives {
  background: #f8f4f1;
  padding: 110px 00 190px;
}
.center.what_gives .item__block-lists::before {
  content: none;
}
.what_gives .row {
  justify-content: center;
  align-items: center;
  gap: 143px;
}
.center.what_gives .row {
  gap: 78px;
  padding: 0 101px;
}
.center.what_gives .title_section {
  margin-bottom: 28px;
}
.what_gives .column {
  justify-content: center;
}

/*board*/
.board {
  background: #f8f4f1;
  padding: 57px 0;
}
.board .row {
  align-items: flex-end;
  justify-content: space-around;
}
/*about-me*/
.about-me {
  position: relative;
  background: url(../../assets/img/main_index__about_me_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 114px 0 199px;
}
.about-me.unconscious {
  position: relative;
  background: url(../../assets/img/main_index__about_me_bg_2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 114px 0 199px;
}
.about-me .title_section {
  margin-bottom: 24px;
}
.list__about-me {
  width: 53%;
  border-radius: 10px;
  padding: 22px 30px;
  margin-left: auto;
}
.unconscious .list__about-me {
  padding: 128px 30px;
}

.link__block-lists {
  text-decoration: underline;
}
.item__block-lists {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}
.item__block-lists:before {
  content: " ";
  width: 10px;
  height: 24px;
  background: url(../../assets/icon/romb_2.svg) no-repeat;
  margin-top: 1.5px;
  padding-right: 15px;
}
/*interest*/
.interest {
  position: relative;
  background: url(../../assets/img/interest_bg_2.png) top right/25% no-repeat,
    url(../../assets/img/main_index_intresting_bg.jpg) top right/100% 100%
      no-repeat;
  padding: 62px 0 120px;
}
.interest .title_section {
  color: #ffffff;
  text-align: center;
  margin-bottom: 110px;
}
.link_post_interest {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.conteiner-slider-interest {
  width: 78%;
  margin-left: 0;
}
.conteiner-slider-interest a.column {
  width: 88%;
  cursor: pointer;
  margin-left: 35px;
}
.conteiner-slider-interest {
  position: relative;
}
.conteiner-slider-interest .row.conteiner-btn__slider {
  position: absolute;
  top: 20%;
  z-index: 2;
  gap: 699%;
}
.conteiner-slider-interest .btn__slider:hover {
  width: auto;
  box-shadow: 0px 8px 20px rgba(64, 48, 26, 0.05);
  border-radius: 50px;
}
.conteiner-slider-interest .btn__slider:hover svg rect {
  fill: rgba(255, 255, 255, 0.8);
  fill-opacity: 1;
}
.conteiner-slider-interest .btn__slider:hover svg path {
  fill: #c6b49b;
}
.interest .description_section,
.interest .description_section .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.interest .description_section {
  text-align: left;
  margin-left: 35px;
}
.interest .description_section .link {
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
/*modal player section interest*/
.cover-player {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  z-index: 130;
}
.modal-player {
  display: flex;
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  background-color: #fff;
  padding: 50px;
  overflow: hidden;
  border-radius: 3px;
}
video.video__videofeedbackslider {
  width: auto;
  margin: auto;
  height: 80vh;
}
.modal__close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  border: none;
  background-color: transparent;
  background-image: url("../../assets/icon/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.modal__close:focus {
  outline: none;
}

/*why__me*/
.why__me {
  padding: 90px 0;
}
.why__me.unconscious {
  background: #f0efea;
}

.container__why-me {
  justify-content: center;
  align-items: center;
}
.container__why-me .title_section {
  margin-bottom: 24px;
}
.unconscious .container__why-me .title_section {
  margin-bottom: 4px;
}
.description-img__unconscious {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #667281;
}
.container__why-me .row {
  align-items: center;
  gap: 90px;
}
.unconscious .container__why-me .row {
  gap: 276px;
}
.unconscious .description_section span {
  display: block;
  padding-top: 25px;
}
/*feedback*/
.feedback {
  margin: 95px 0 120px;
}
.feedback .row,
.my_course .row {
  align-items: flex-end;
  margin-bottom: 36px;
}
.center.my_course .row {
  margin-bottom: 0;
}
.link.theme_color {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #667281;
  transition: all 1s;
}
.conteiner-slider-feedback .column {
  height: 400px;
  gap: 10px;
  justify-content: flex-start;
}
.conteiner-slider-feedback img {
  width: 310px;
}
.conteiner-slider-feedback .content_feedback .column {
  width: 310px;
  background: rgba(163, 174, 185, 0.2);
  padding: 77px 36px 0px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2a3645;
  cursor: default;
}
.content_feedback .column .pseudo_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #2a3645;
  cursor: pointer;
}
.conteiner-slider-feedback .link_post_interest,
.content_box-i-help .link_post_interest {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #2a3645;
  justify-content: center;
}
.content_feedback .link_post_interest {
  margin-top: 10px;
}
/*i-help*/
.i-help {
  padding: 120px 0;
}
.i-help .title_section {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}
.content_box-i-help .link_post_interest {
  font-weight: 600;
  margin-top: 12px;
}
/*my-course*/
.my_course {
  position: relative;
  padding-bottom: 130px;
}
.center.my_course {
  padding: 120px 0;
}
.category-widget .row {
  justify-content: flex-start;
  gap: 8px;
}
.category-widget .row.blog {
  justify-content: space-between;
}
.category-item {
  padding: 16px 24px;
  background: rgba(163, 174, 185, 0.2);
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #a3aeb9;
  transition: all 1s;
  cursor: pointer;
}
.category-item:hover {
  background: #a3aeb9;
  color: #fff;
}
.link-category-active,
.link-category-active:hover {
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #dda67e;
  color: #ffffff;
}

.conteiner-slider-my-course .column {
  align-items: flex-start;
}
.conteiner-slider-my-course .link_post_interest {
  font-weight: 500;
  font-size: 24.9557px;
  line-height: 130%;
  color: #2a3645;
  opacity: 0.8;
  margin-top: 22px;
}
.conteiner-slider-my-course .tag {
  margin-top: 11px;
  font-weight: 400;
  font-size: 19.41px;
  line-height: 23px;
  color: #c9a992;
}

.row.conteiner-btn__slider.cont-btn__slider__course {
  position: absolute;
  top: 35%;
  z-index: 2;
  margin-left: 35px;
  justify-content: space-between;
  gap: 575%;
}
/*contacts*/
.contacts .column {
  margin: auto;
}
.contacts .block-lists {
  margin-top: 26px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2a3645;
}

.contacts .item__block-lists {
  margin-bottom: 20px;
}
.contacts .item__block-lists:before {
  content: none;
}
span.box__content-contacts-me svg {
  margin-right: 20px;
}
/*footer*/
.footer {
  background: #f8f4f1;
  padding: 22px 0 50px;
  font-weight: 600;
  font-size: 18px;
  color: #2a3645;
}
.footer .row {
  justify-content: space-evenly;
}
.item_footer-menu {
  margin-bottom: 8px;
}
.copyright {
  line-height: 26px;
  color: #3d5576;
}
.list-social {
  margin: 12px 0 33px;
}
ul.list-social.row {
  justify-content: flex-start;
  gap: 10px;
}

.item_list-social:hover svg path {
  fill: #d7a785;
}
.unp {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.certificate {
  font-size: 13px;
  line-height: 15px;
}
.footer-menu {
  line-height: 24px;
}

.payment-methods.column {
  justify-content: flex-start;
}
.payment-methods {
  font-size: 16px;
  line-height: 20px;
}
.payment-methods p {
  margin-bottom: 8px;
}
/*block-policy*/
.block-policy {
  padding: 8px 0 8px;
}
.block-policy.row {
  justify-content: center;
}
.item_block-polycy {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #3d5576;
  margin-right: 8px;
}
.item_block-polycy:not(:last-child) {
  padding-right: 8px;
  border-right: 1px solid #3d5576;
}
/*popup*/
.box__poup-consult {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c6b49bbf;
  z-index: 130;
}
.popup-consult {
  position: relative;
  margin: auto;
  /*width: 80%;*/
  background: #ffffff;
  border-radius: 20px;
  z-index: 10;
  overflow: hidden;
}
.popup-consult .column {
  justify-content: flex-start;
}
.content-box-form__popup-consult {
  padding: 50px 40px;
}
.form__write-me {
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
}
.img__popup-consult {
  background: url(../img/Ellipse.png) no-repeat;
  background-position: left bottom;
}
.close__poup-consult {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 10;
}
.close__poup-consult svg {
  z-index: -1;
}
/*form pop-up*/
.input__open-form {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #667281;
  opacity: 0.6;
  background: rgba(221, 166, 126, 0.05);
  border: 1px solid #dda67e;
  border-radius: 8px;
  padding: 9px 23px;
  margin-bottom: 13px;
}
.form-control__open-form {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #667281;
  opacity: 0.6;
  background: rgba(221, 166, 126, 0.05);
  border: 1px solid #dda67e;
  border-radius: 8px;
  padding: 9px 23px;
  margin-bottom: 13px;
  overflow: hidden;
}
.agree__polyci {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: #424242;
  margin-bottom: 36px;
}
/**blog
courses
post*/
.cover-header {
  padding: 45px 0 65px;
  background: #dda67e;
  margin-bottom: 32px;
}
.article .cover-header {
  margin-bottom: 24px;
}
.content_article{
  margin-bottom: 120px;
}
.content_article img{
  width: 80%;
}
.article .description {
  width: 80%;
  font-size: 21px;
  line-height: 24px;
  color: #2a3645;
  padding-bottom: 16px;
}
.related-post{
  padding-bottom: 40px;
}
.related-post .title_section{
      display: flex;
    justify-content: center;
  font-weight: 500;
font-size: 36px;
line-height: 50px;
letter-spacing: -0.02em;
margin-bottom: 36px;
}
.cover-header .title_section {
  color: #ffffff;
  margin-bottom: 24px;
}
.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f8f4f1;
}
.list-products .row {
  margin: 36px 0 0;
  flex-wrap: wrap;
}
.list-products .row.container_list-products {
  margin-bottom: 80px;
  gap: 64px 0;
}
.list-products .row .content_box-i-help {
  position: relative;
  flex: 0 0 31.333333%;
  justify-content: flex-start;
  margin-bottom: 64px;
}
.list-products .tag {
  font-size: 19.41px;
  line-height: 23px;
  color: #c9a992;
  padding: 16px 0 8px;
}
.title_products {
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #2a3645;
  margin-bottom: 8px;
}
.description_products {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #a3aeb9;
  margin-bottom: 26px;
}
.list-products .btn_section {
  position: absolute;
  width: 200px;
  height: 60px;
  bottom: -47px;
}
/*pagination*/
.pagination .row {
  margin: 0 0 120px;
  justify-content: center;
  align-items: center;
}
.link_pagination {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(163, 174, 185, 0.2);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
.active-pagination {
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #d7a785;
  box-shadow: 0px 8px 20px rgba(165, 117, 83, 0.35);
  border-radius: 50px;
  color: #ffffff;
}
.link_pagination:hover:not(.active-pagination) {
  background: #a3aeb9;
  color: #fff;
}
/**page-breadcrumb*/
.page-breadcrumb {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f8f4f1;
}
.page-breadcrumb li a:after {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: " ";
  background: url(../../assets/icon/array_breadcrumb.svg) no-repeat;
  margin-left: 8px;
}
.page-breadcrumb li:hover a {
  text-decoration: underline;
}

.hidden {
  display: none;
}
