* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
textarea {
  border: none;
  resize: none;
}
textarea,
input {
  -moz-appearance: none;
  outline: 0px none transparent;
  border: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("../fonts/Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy Medium"), local("Gilroy-Medium"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("../fonts/Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff"),
    url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.hidden {
  display: none;
}
html {
  scrollbar-width: 10px;
  overflow-y: scroll;
  scrollbar-color: #c9a992 #ffffff;
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgb(34 60 80 / 20%) inset;
  background-color: #ffffff;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bb596b49),
    to(#c9a99264)
  );
  background: linear-gradient(180deg, #bb596b49, #c9a99264);
}
.page {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #667281;
}
.container {
  width: 1312px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 49.9%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 90px;
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #d7a785;
  box-shadow: 0px 8px 20px rgba(165, 117, 83, 0.35);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #f8f4f1;
  transition: all 1s;
  cursor: pointer;
}
.btn_section:hover {
  background: #f8f4f1;
  color: #d7a785;
}
.btn_section:active {
  background: #d7a785;
  color: #f8f4f1;
}
.btn__slider {
  cursor: pointer;
}
/*header*/
.header {
  padding: 27px 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__mob-menu {
  position: absolute;
  top: 0;
}
.btn__m-menu {
  display: none;
}
.menu__list,
.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.submenu {
  flex-direction: column;
  position: absolute;
  display: none;
}
.link,
.submenu-list__link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #2a3645;
}
ul li.links__item.open_sub-menu ul,
ul li ul.submenu.open_sub-menu {
  position: absolute;
  top: auto;
  display: block;
  width: 150px;
  height: 0px;
  border-bottom: 1px solid #dda67e;
}

.links__item {
  padding: 0 24px 0 0;
}

.links__item:nth-child(3) .menu-list__link::after {
  content: " ";
  border: 9px solid transparent;
  margin-left: 7px;
  border-right: 10px solid #2a3645;
  border-left: none;
  transform: rotate(271deg);
  position: absolute;
  top: 5px;
}
.links__item:hover.links__item:nth-child(3) .menu-list__link::after {
  content: "";
  border: 9px solid transparent;
  margin-left: 7px;
  border-right: 10px solid #dda67e;
  border-left: none;
  transform: rotate(271deg);
  position: absolute;
  top: 5px;
}
.links__item:nth-child(4) {
  padding-left: 24px;
}
.link:hover {
  color: #dda67e;
}
.menu-link__active {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #dda67e;
}
.img.icons_item {
  width: 36px;
  height: 26.69px;
  margin-left: 18px;
}
.img.icons_item:hover path,
.close__poup-consult:hover path {
  fill: #dda67e;
}
.title_section {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.02em;
  color: #2a3645;
}
.description_section {
  margin-top: 16px;
}
/*mainscreen*/
.mainscreen {
  background: linear-gradient(
      90.15deg,
      #ffffff -1.01%,
      rgba(255, 255, 255, 0.8) 24.96%,
      rgba(255, 255, 255, 0.7) 42.84%,
      rgba(255, 255, 255, 0) 54.05%
    ),
    url(../../assets/img/main_index_bg.jpg), no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content__mainscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 164px 0 170px 0;
}
.title__mainscreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;

  padding-bottom: 35px;
  font-weight: 500;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.02em;
  color: #2a3645;
}
.description__mainscreen {
  width: 65%;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 54px;
}
.button__mainscreen {
  width: 30%;
  padding: 36px 46px;
  background: linear-gradient(
      180deg,
      rgba(248, 244, 241, 0.4) 0%,
      rgba(248, 244, 241, 0) 80.92%
    ),
    #d7a785;
  box-shadow: 0px 8px 20px rgba(165, 117, 83, 0.35);
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f8f4f1;
  transition: all 1s;
  cursor: pointer;
}
.button__mainscreen:hover {
  background: #f8f4f1;
  color: #d7a785;
}
.button__mainscreen:active {
  background: #d7a785;
  color: #f8f4f1;
}
/*myHistory*/
.myHistory {
  background: url(../../assets/img/main_index__history_bg.jpg), no-repeat;
  background-size: cover;
  background-position: center center;
}
.conteiner__date_prewie {
  margin-top: 8px;
}
.conteiner-slider-prewie.swiper {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: 0;
  padding: 21% 0;
}
.row.conteiner-btn__slider {
  width: 30%;
  margin-top: 36px;
  align-items: center;
}

.btn__right__slider__prewie svg,
.btn__right__slider__interest svg {
  rotate: 180deg;
}
.cont-btn__slider__prewie .btn__slider:hover {
  width: auto;
  height: 64px;
  box-shadow: 0px 8px 20px rgb(165 117 83 / 35%);
  border-radius: 50px;
}
.cont-btn__slider__prewie .btn__slider:hover svg rect {
  fill: #d7a785;
  fill-opacity: 1;
}
.cont-btn__slider__prewie .btn__slider:hover svg path {
  fill: #f8f4f1;
}
/*board*/
.board {
  background: #f8f4f1;
  padding: 57px 0;
}
.board .row {
  align-items: flex-end;
}
/*about-me*/
.about-me {
  position: relative;
  background: url(../../assets/img/main_index__about_me_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 114px 0 199px;
}
.about-me .title_section {
  margin-bottom: 24px;
}
.list__about-me {
  width: 53%;
  border-radius: 10px;
  padding: 22px 30px;
  margin-left: auto;
}

.link__block-lists {
  text-decoration: underline;
}
.link__block-lists:hover {
  color: #d7a785;
}
.item__block-lists {
   display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}
.item__block-lists:before {
    content: " ";
  width: 10px;
  height: 24px;
  background: url(../../assets/icon/romb_2.svg) no-repeat;
  margin-top: 1.5px;
  padding-right: 15px;
}
/*interest*/
.interest {
  position: relative;
  background: url(../../assets/img/interest_bg_2.png) top right/25% no-repeat,
    url(../../assets/img/main_index_intresting_bg.jpg) top right/100% 100%
      no-repeat;
  /*background-position: left top, left top;
  background-size: round auto;*/
  padding: 62px 0 120px;
}
.interest .title_section {
  color: #ffffff;
  text-align: center;
  margin-bottom: 110px;
}
.link_post_interest {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.conteiner-slider-interest {
  width: 65%;
  margin-left: 0;
}
.conteiner-slider-interest a.column {
  width: 80%;
}
.conteiner-slider-interest {
  position: relative;
}
.conteiner-slider-interest .row.conteiner-btn__slider {
  position: absolute;
  width: 98%;
  top: 20%;
  z-index: 2;
  right: 14px;
}
.conteiner-slider-interest .btn__slider:hover {
  width: auto;
  box-shadow: 0px 8px 20px rgba(64, 48, 26, 0.05);
border-radius: 50px;
}
.conteiner-slider-interest .btn__slider:hover svg rect {
  fill: rgba(255, 255, 255, 0.8);
  fill-opacity: 1;
}
.conteiner-slider-interest .btn__slider:hover svg path {
  fill: #C6B49B;;
}
.interest .description_section,
.interest .description_section .link {
  width: 40%;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.interest .description_section {
  text-align: left;
}
.interest .description_section .link {
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
/*why__me*/
.why__me {
  margin: 90px 0;
}
.container__why-me {
      justify-content: center;
    align-items: center;
}
.container__why-me .title_section {
  margin-bottom: 24px;
}
.container__why-me .row{
  align-items: center;
      gap: 90px;
}

